#  String Operation

In [1]:
import numpy as np

In [4]:
name="Ranjana Bhardwaj"
Add='Noida'

In [5]:
np.char.add(name,Add)                                       # Add Two string

array('Ranjana BhardwajNoida', dtype='<U21')

In [7]:
np.char.lower(name)                                         # Convert in lower case

array('ranjana bhardwaj', dtype='<U16')

In [8]:
np.char.upper(Add)                                          # Convert in Upper case

array('NOIDA', dtype='<U5')

In [9]:
np.char.title(name)                                         # Title case

array('Ranjana Bhardwaj', dtype='<U16')

In [11]:
np.char.center(name,30)                                    # Move string in Center

array('       Ranjana Bhardwaj       ', dtype='<U30')

In [12]:
np.char.center(name,30,fillchar='*')                       # Move strign in center and fill space by *

array('*******Ranjana Bhardwaj*******', dtype='<U30')

In [13]:
np.char.split(Add)

array(list(['Noida']), dtype=object)

In [14]:
np.char.split(name)                                       # Split string

array(list(['Ranjana', 'Bhardwaj']), dtype=object)

In [16]:
np.char.splitlines("hello\nRanjana")

array(list(['hello', 'Ranjana']), dtype=object)

In [18]:
str1="Ranjana"
str2="Bhardwaj"

In [21]:
np.char.join(["*"],str1)                                            # join character by *

array(['R*a*n*j*a*n*a'], dtype='<U13')

In [22]:
np.char.join([" "],str2)                                            # Join every character by space

array(['B h a r d w a j'], dtype='<U15')

In [23]:
np.char.replace(name,"Bhardwaj","My World")                    # Replace word by new word

array('Ranjana My World', dtype='<U16')

In [24]:
np.char.equal(name,Add)                                    # Check both sring are same or not

array(False)

In [25]:
np.char.count(name,"a")                                     # Check presentation of any character i.e. count

array(5)

In [26]:
name

'Ranjana Bhardwaj'

In [28]:
np.char.find(name,"B")

array(8)